<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Message Board</title>
    <meta name="description" content="freeCodeCamp project boilerplate">
    <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <div id="container">
    <header>
      <h1>
        Anonymus Message Board
      </h1>
    </header>
    <main>
      <h2>Threads</h2>
      <div id='row'>
        <article>
          <h3>New thread</h3>
          <form action="/api/threads/test" method="post" id="newThread">
            <input type='text' placeholder='board' id='board1' name='board' required=''><br>
            <textarea type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
            <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
            <input type="submit" value="New thread" class="new">
          </form>
        </article>
        <article>
          <h3>Report thread</h3>
          <form id="reportThread">
            <input type='text' placeholder='board' id='board2' name='board' required=''><br>
            <input type='text' placeholder='id to report' name='thread_id' required=''><br>
            <input type="submit" value="Report" class="report">
          </form>
        </article>
        <article>
          <h3>Delete thread</h3>
          <form id="delThread">
            <input type='text' placeholder='board' id='board3' name='board' required=''><br>
            <input type='text' placeholder='id to delete' name='thread_id' required=''><br>
            <input type='text' placeholder='password' name='delete_password' required=''><br>
            <input type="submit" value="Delete" class="delete">
          </form>
        </article>
      </div>
      <h2>Replies</h2>
      <div id='row'>
        <article>
          <h3>New reply</h3>
          <form action="/api/threads/test" method="post" id="newReply">
            <input type='text' placeholder='board' id='board4' name='board' required=''><br>
            <input type='text' placeholder='thread id' name='thread_id' required=''><br>
            <textarea type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
            <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
            <input type="submit" value="New reply" class="new">
          </form>
        </article>
        <article>
          <h3>Report reply</h3>
          <form id="reportReply">
            <input type='text' placeholder='board' id='board5' name='board' required=''><br>
            <input type='text' placeholder='thread id' name='thread_id' required=''><br>
            <input type='text' placeholder='id to report' name='reply_id' required=''><br>
            <input type="submit" value="Report" class="report">
          </form>
        </article>
        <article>
          <h3>Delete reply</h3>
          <form id="delReply">
            <input type='text' placeholder='board' id='board6' name='board' required=''><br>
            <input type='text' placeholder='thread id' name='thread_id' required=''><br>
            <input type='text' placeholder='id to delete' name='reply_id' required=''><br>
            <input type='text' placeholder='password' name='delete_password' required=''><br>
            <input type="submit" value="Delete" class="delete">
          </form> 
        </article>
      </div>        
      
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#newThread').submit(function(){
          var board = $('#board1').val();
          $(this).attr('action', "/api/threads/" + board);
        });
        $('#newReply').submit(function(){
          var board = $('#board4').val();
          $(this).attr('action', "/api/replies/" + board);
        });
        $('#reportThread').submit(function(e){
          var url = "/api/threads/"+$('#board2').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data); window.location.reload(true); }
          });
          e.preventDefault();
        });
        $('#delThread').submit(function(e){
          var url = "/api/threads/"+$('#board3').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data); window.location.reload(true); }
          });
          e.preventDefault();
        });
        $('#reportReply').submit(function(e){
          var url = "/api/replies/"+$('#board5').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data); window.location.reload(true); }
          });
          e.preventDefault();
        });
        $('#delReply').submit(function(e){
          var url = "/api/replies/"+$('#board6').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data); window.location.reload(true); }
          });
          e.preventDefault();
        });
      });
   </script>
   </div>
   <footer>coded by <a href="http://www.vinweb.hu/">vinweb</a> · <a href="https://github.com/vinweb/messageboard">GitHub</a></footer>
  </body>
</html>
